terraform {
  backend "azurerm" {
    resource_group_name  = "DefaultResourceGroup-EUS"
    storage_account_name = ""
    container_name       = ""
    key                  = "{{.GroupName}}.tfstate"
    use_azuread_auth     = true
    subscription_id      = "9688b0ae-bd2c-497a-adb7-155619d7ccda"
  }
}
